<div>
  <div>
    <h1>
      List of all friend requests
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new friend request
    </h2>

    <form action="/insert_friend_request" method="post">
      <div>
        <label for="sender_id_box">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="query_sender_id">
      </div>

      <div>
        <label for="recipient_id_box">
          Recipient
        </label>

        <input type="text" id="recipient_id_box" name="query_recipient_id">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status">
      </div>

      <button>
        Create friend request
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Sender
        </th>

        <th>
          Recipient
        </th>

        <th>
          Status
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_friend_requests.each do |a_friend_request| %>
      <tr>
        <td>
          <%= a_friend_request.id %>
        </td>

        <td>
          <%= a_friend_request.sender_id %>
        </td>

        <td>
          <%= a_friend_request.recipient_id %>
        </td>

        <td>
          <%= a_friend_request.status %>
        </td>

        <td>
          <%= time_ago_in_words(a_friend_request.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_friend_request.updated_at) %> ago
        </td>

        <td>
          <a href="/friend_requests/<%= a_friend_request.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
